@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$font-roboto: "Roboto", sans-serif;
$size-roboto-regular: 1.2vw;

$font-inter: "Inter", sans-serif;
$size-inter-title: 3.3vw;
$size-inter-medium: 1vw;
$size-inter-regular: 1.8vw;
$size-inter-semibold: 1.7vw;

$bg-card: #f9fafb;
$bg-woman: #fdefef;
$bg-important: #f8f9fa;
$bg-gradient-primary: linear-gradient(90deg, #4247a2 0%, #52b095 100%);

@mixin flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin roboto-regular {
  font-family: $font-roboto;
  font-size: $size-roboto-regular;
  font-weight: 400;
}

@mixin inter-regular {
  font-family: $font-inter;
  font-size: $size-inter-regular;
  font-weight: 400;
}
@mixin inter-medium {
  font-family: $font-inter;
  font-size: $size-inter-medium;
  font-weight: 500;
}
@mixin inter-semibold {
  font-family: $font-inter;
  font-size: $size-inter-semibold;
  font-weight: 600;
}

@mixin inter-title {
  font-size: $size-inter-title;
  background-image: linear-gradient(to right, #1173d4, #33cc73);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin inter-woman {
  font-size: $size-inter-title;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(
      90deg,
      rgba(249, 1, 111, 0.54) 0%,
      rgba(147, 8, 133, 0.619615) 41.83%,
      rgba(208, 56, 170, 0.754793) 70.19%,
      #851c87 100%
    );

  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin inter-men {
  font-size: $size-inter-title;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(
      90deg,
      #3373d2 16.04%,
      #6f95c7 33.14%,
      #7bb5f5 54.51%,
      #0074ee 68.5%,
      #5ea7ef 87.02%
    );
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin btn-settings {
  @include inter-medium;
  border: none;
  border-radius: 0.5vw;
  cursor: pointer;
}

@mixin btn-default {
  @include btn-settings;
  background-color: #1173d4;
  padding: 1.5% 4%;
  color: #fff;
}
@mixin btn-outline {
  @include btn-settings;
  border: solid 1px #1173d4;
  padding: 1.5% 4%;
  color: #1173d4;
  background: transparent;
}

@mixin cards-component {
  @include flex-center;
  width: 90%;
  height: 100%;
  flex-wrap: wrap;
}

@mixin card-default {
  @include flex-center;
  width: 28%;
  padding: 0% 3%;
  flex-direction: column;
  background-color: $bg-card;
  box-shadow: 0px 0px 10px 0px #00000040;
  border-radius: 0.5vw;

  img {
    width: 23%;
    margin: 2.5% 0 10% 0;
  }

  h3 {
    @include inter-semibold;
    font-size: 1.5vw;
    margin-bottom: 10%;
  }

  p {
    @include inter-regular;
    margin-bottom: 8%;
    text-align: center;
    font-size: 1.2vw;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-roboto;
}

header {
  width: 100%;
  background-image: url("../assets/banner.jpg");
  background-position: right calc(100% + 94.5%);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4.3% 0 11.5% 0;

  .header {
    &__navgation {
      @include flex-between;
      margin: 0% 5% 6% 5%;
      padding: 0.5% 1%;
      border-radius: 2vw;
      background: $bg-gradient-primary;

      &--box {
        margin-left: 3%;
        width: 12.4%;

        img {
          width: 100%;
        }
      }

      nav {
        width: 65%;

        ul {
          @include flex-around;
          width: 56%;
          list-style: none;

          a {
            text-decoration: none;
            li {
              @include roboto-regular;
              color: #fff;
              cursor: pointer;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    &__content {
      padding: 0 6%;

      &__title {
        h2 {
          @include inter-title;
          width: 47%;
        }

        p {
          @include inter-regular;
          width: 33%;
          margin: 2.5% 0 4% 0;
        }
      }

      &__btn {
        .button-default {
          @include btn-default;
        }
        .button-outline {
          @include btn-outline;
          margin-left: 2%;
        }
      }
    }
  }
}

main {
  .main {
    &__important {
      @include flex-center;
      width: 100%;
      padding: 5%;
      flex-direction: column;
      background-color: $bg-important;

      h2 {
        @include inter-title;
      }
      &--description {
        @include inter-regular;
        width: 76%;
        margin: 3% 0;
        font-size: 1.5vw;
        text-align: center;
      }

      &--cards {
        @include cards-component;
        width: 100%;
        .card--default {
          @include card-default;
          margin: 0 2%;
        }
      }
    }

    &__men,
    &__woman {
      @include flex-center;
      width: 100%;
      height: 100%;
      padding: 5%;
      flex-direction: column;
      background-color: $bg-woman;

      h2 {
        @include inter-woman;
        margin-bottom: 3%;
      }

      &--cards {
        @include cards-component;
        width: 80%;
        height: 100%;
        align-items: stretch;

        .card--default {
          @include card-default;
          width: 29%;
          margin-top: 7%;
          margin: 3% 2%;

          padding: 0 2% 6% 0%;
          justify-content: flex-start;
          box-shadow: 0px 2vh 1vw #00000040;

          border-radius: 1vw;

          img {
            margin-top: 9%;
            width: 40%;
          }
          ul {
            padding-left: 8%;
            li {
              width: 100%;
              margin: 4% 0;
              font-size: 1.2vw;
            }
          }
        }
      }
    }
    &__men {
      background-color: #f8f9fa;

      h2 {
        @include inter-men;
      }
    }

    &__alert {
      @include flex-center;
      flex-direction: column;
      h2 {
        @include inter-title;
        margin: 2% 0 5% 0;
      }

      &--cards {
        @include flex-center;
      }
    }
  }
}

@media (max-width: 1124px) {
  header {
    background-position: 100% 110%;

    .header {
      &__navgation {
        &--box {
          width: 15%;
        }

        nav > ul {
          width: 80%;
          a > li {
            width: 100%;
            font-size: 1.8vw;
          }
        }
      }

      &__content {
        &__title {
          h2 {
            width: 60%;
            font-size: 5vw;
          }

          p {
            width: 60%;
            font-size: 3vw;
          }
        }

        &__btn {
          .button-default,
          .button-outline {
            font-size: 1.9vw;
          }
        }
      }
    }
  }
  main {
    .main {
      &__important {
        h2 {
          font-size: 5vw;
        }

        &--description {
          margin: 5% 0;
          width: 100%;
          font-size: 2vw;
        }

        &--cards {
          width: 100%;

          .card--default {
            border-radius: 0.8vw;

            img {
              width: 23%;
            }

            h3 {
              font-size: 2vw;
            }

            p {
              font-size: 1.5vw;
            }
          }
        }
      }

      &__men,
      &__woman {
        h2 {
          font-size: 4vw;
        }

        &--cards {
          width: 90%;

          .card--default {
            @include card-default;
            width: 30%;

            // height: 60vh;
            margin-top: 7%;

            padding: 0 2% 6% 0%;
            justify-content: flex-start;
            border-radius: 1vw;

            img {
              margin-top: 9%;
              width: 40%;
            }
            ul {
              padding-left: 8%;
              li {
                width: 100%;
                margin: 4% 0;
                font-size: 1.5vw;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 850px) {
  header {
    height: 100vh;
    background-position: 100% 110%;

    .header {
      &__navgation {
        &--box {
          width: 18%;
        }

        nav > ul {
          width: 80%;
          a > li {
            width: 100%;
            font-size: 2vw;
          }
        }
      }

      &__content {
        display: flex;
        justify-content: space-around;
        flex-direction: column;

        height: 85%;

        &__title {
          h2 {
            width: 80%;
            font-size: 7vw;
          }

          p {
            width: 50%;
            font-size: 3.8vw;
          }
        }

        &__btn {
          .button-default,
          .button-outline {
            font-size: 1.9vw;
          }

          .button-outline {
            background-color: #fff;
          }
        }
      }
    }
  }

  main {
    .main {
      &__important {
        padding-top: 7%;
        padding-bottom: 10%;

        h2 {
          font-size: 6vw;
          text-align: center;
        }

        &--description {
          margin: 5% 0;
          width: 100%;
          font-size: 2.5vw;
        }

        &--cards {
          width: 96%;

          .card--default {
            width: 46%;
            border-radius: 1.2vw;
            margin: 0 2%;

            img {
              width: 23%;
            }

            h3 {
              font-size: 2.6vw;
            }

            p {
              font-size: 2.6vw;
            }
            &:nth-child(3) {
              width: 100%;
              margin-top: 4%;
              img {
                width: 10%;
                margin: 2.5% 0 2% 0;
              }

              h3 {
                font-size: 3vw;
                margin-bottom: 3%;
              }

              p {
                font-size: 3vw;
                margin-bottom: 6%;
              }
            }
          }
        }
      }

      &__men,
      &__woman {
        h2 {
          font-size: 5vw;
        }

        &--cards {
          width: 90%;

          .card--default {
            @include card-default;
            width: 46%;

            // height: 60vh;
            margin-top: 7%;

            padding: 0 2% 6% 0%;
            justify-content: flex-start;
            border-radius: 2vw;

            img {
              margin-top: 9%;
              width: 40%;
            }
            h3 {
              font-size: 3vw;
            }
            ul {
              padding-left: 8%;
              li {
                width: 100%;
                margin: 4% 0;
                font-size: 2vw;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 550px) {
  header {
    background-image: none;

    .header {
      height: 100%;
      &__navgation {
        border-radius: 5vw;
        &--box {
          width: 30%;
        }

        nav > ul {
          width: 100%;
          a > li {
            width: 100%;
            font-size: 2.5vw;
          }
        }
      }

      &__content {
        &__title {
          @include flex-center;
          width: 100%;
          height: 50%;
          margin-top: 10vh;
          flex-direction: column;

          h2 {
            text-align: center;
            width: 95%;
            font-size: 11vw;
          }

          p {
            width: 87%;
            text-align: center;
            font-size: 6vw;
          }
        }

        &__btn {
          @include flex-center;
          height: 50%;
          width: 100%;

          .button-default,
          .button-outline {
            padding: 5% 2%;
            border-radius: 2vw;
            font-size: 3.5vw;
          }
        }
      }
    }
  }

  main {
    .main {
      &__important {
        padding-top: 7%;
        padding-bottom: 15%;

        h2 {
          width: 90%;
          font-size: 6.7vw;
          text-align: center;
        }

        &--description {
          margin: 5% 0;
          width: 100%;
          font-size: 3.8vw;
        }

        &--cards {
          width: 100%;
          @include flex-center;

          .card--default {
            width: 75%;
            margin-top: 12%;
            border-radius: 1.8vw;

            img {
              width: 18%;
              margin: 4.5% 0 5% 0;
            }

            h3 {
              font-size: 4.5vw;
              margin-bottom: 10%;
            }

            p {
              width: 80%;
              font-size: 3.5vw;
              margin-bottom: 10%;
            }

            &:last-child {
              width: 75%;
              margin-top: 12%;
              border-radius: 1.8vw;

              img {
                width: 18%;
                margin: 4.5% 0 5% 0;
              }

              h3 {
                font-size: 4.5vw;
                margin-bottom: 10%;
              }

              p {
                width: 80%;
                font-size: 3.5vw;
                margin-bottom: 10%;
              }
            }
          }
        }
      }

      &__men,
      &__woman {
        padding: 5% 5% 12% 5%;

        h2 {
          font-size: 8vw;
          padding: 15% 0 4% 0;
        }

        &--cards {
          width: 90%;
          justify-content: center;

          .card--default {
            @include card-default;
            width: 70%;
            border-radius: 3vw;
            padding: 0 2% 15% 0%;

            img {
              margin-top: 9%;
              width: 40%;
            }
            h3 {
              font-size: 5vw;
            }
            ul {
              padding-left: 8%;
              li {
                width: 100%;
                margin: 4% 0;
                font-size: 3vw;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 300px) {
  header {
    height: auto;
    background-image: none;
    .header {
      &__navgation {
        flex-direction: column;

        &--box {
          width: 80%;
          border-bottom: solid 0.4px #fff;
        }

        nav {
          width: 100%;
          ul {
            width: 100%;
            flex-direction: column;
            a {
              width: 100%;
              padding: 5.4% 0;
              text-align: center;
              li {
                font-size: 7vw;
              }
            }
          }
        }
      }

      &__content {
        height: 100%;

        &__title {
          h2 {
            width: 100%;
            font-size: 10vw;
            margin-bottom: 10vh;
          }

          p {
            width: 100%;
            margin-bottom: 6vh;
            font-size: 7vw;
          }
        }

        &__btn {
          flex-direction: column;

          .button-default,
          .button-outline {
            width: 100%;
            padding: 5% 4%;
            margin-bottom: 4vh;
            border-radius: 3vw;
            font-size: 6vw;
          }

          .button-outline {
            margin-left: 0;
          }
        }
      }
    }
  }

  main {
    .main {
      &__important {
        padding-top: 12vh;
        padding-bottom: 15vh;

        h2 {
          width: 100%;
          font-size: 10vw;
          text-align: center;
        }

        &--description {
          margin: 3vh 0 5vh 0;
          width: 100%;
          font-size: 7vw;
        }

        &--cards {
          width: 100%;
          @include flex-center;

          .card--default {
            width: 100%;
            margin-top: 12%;
            border-radius: 5vw;

            img {
              width: 18%;
              margin: 4.5% 0 5% 0;
            }

            h3 {
              font-size: 7vw;
              margin-bottom: 10%;
            }

            p {
              width: 100%;
              font-size: 6vw;
              margin-bottom: 10vh;
            }

            &:last-child {
              width: 100%;
              margin-top: 12%;
              border-radius: 1.8vw;

              img {
                width: 18%;
                margin: 4.5% 0 5% 0;
              }

              h3 {
                font-size: 7vw;
                margin-bottom: 10%;
              }

              p {
                width: 100%;
                font-size: 6vw;
                margin-bottom: 10%;
              }
            }
          }
        }
      }

      &__men,
      &__woman {
        padding: 5% 5% 12% 5%;

        h2 {
          font-size: 12vw;
          text-align: center;
          // padding: 15% 0 4% 0;
        }

        &--cards {
          width: 100%;
          justify-content: center;

          .card--default {
            @include card-default;
            width: 90%;
            border-radius: 3vw;
            padding: 0 2% 15% 0%;

            img {
              margin-top: 9%;
              width: 50%;
            }
            h3 {
              font-size: 8.5vw;
              text-align: center;
            }
            ul {
              padding-left: 8%;
              li {
                width: 100%;
                margin: 4% 0;
                font-size: 4vw;
              }
            }
          }
        }
      }
    }
  }
}
